.phrase {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
      text-shadow: 0 0 10px #fff;
}

.letter {
  display: inline-block;
}

.shake {
  animation: shake 0.3s infinite;
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(2px, 2px); }
  100% { transform: translate(0px, 0px); }
}

.spark-container {
  position: relative;

}

.spark {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, 0) scale(0.5);
  filter: blur(1px);
  box-shadow: 0 0 10px #ff0000, 0 0 20px #00bfff;
}

.spark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.7;
  filter: blur(6px);
  border-radius: 50%;
  transform: scale(2);
}

.spark.move {
  animation: fly 1.2s ease-out forwards;
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(var(--s));
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% + var(--x)), var(--y)) scale(0);
  }
}
