
.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  background: #3b3b3b;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  animation: slideUp 1s ease forwards;
  transform: translateY(100px);
  opacity: 0;
}


.banner {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}


.title {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}


.social-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.telegram:hover {
  box-shadow: 0 0 15px #0088cc, 0 0 30px #0088cc;
  transform: translateY(-8px) scale(1.05);
}

.instagram:hover {
  box-shadow: 0 0 15px #E4405F, 0 0 30px #E4405F;
  transform: translateY(-8px) scale(1.05);
}


.telegram {
  background-color: #0088cc;
}

.instagram {
  background-color: #E4405F;
}


.social-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  padding: 3px;
}


.footer-text {
  color: #c5c5c5;
  font-size: 14px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}


@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
