body {
  background-color: black; /* фон всей страницы */
}
.slider-container {
  position: relative;
  width: 900px;  
  height: 500px;  
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(135deg, #1e1e2f, #2c2c54);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.slider-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.slider-video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: filter 0.3s ease;
}


.slider-video:hover {
  filter: brightness(1.2) contrast(1.1);
}

/* кнопки влево-вправо */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.nav-btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transform: translateY(-50%) scale(1.15);
}
