body {
  background-color: black;
}
.header-img {
  display: block;
  margin: 0 auto 20px; 
  max-width: 100%;     
  height: auto;
}


.futr-slider {
  position: relative;
  width: 900px;  
  height: 500px;  
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(135deg, #1e1e2f, #2c2c54);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.futr-video-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.futr-video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; 
  transition: filter 0.3s ease;
}


.futr-video:hover {
  filter: brightness(1.2) contrast(1.1);
}

.futr-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.futr-btn--left {
  left: 20px;
}

.futr-btn--right {
  right: 20px;
}

.futr-btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transform: translateY(-50%) scale(1.15);
}
.slider-text {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff; 
}
.slider-textn{
  color: #fff;
   text-align: center;
     font-size: 20px;
  font-weight: 500;
  margin: 8px 0;
}
